
* {
    margin: 5px
}

body {
    color: black;
    font-size: 20px;
}


p {
    color: blue;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    /* margin: 20px; */
}
div {
    width: 50%
}

/* class selector */
.models {
    color: blue;
    font-size: 1rem;
}

.order {
    color: orange
}

/* h1 {
    width: 50%;
} */

li {
    color: green
}

/* id selector */
#nike, #makes {
    color: red;
}

ul > li{
    font-size: 30px;
}

/* @media screen and (min-width: 590px) and (max-width:890px) {
    #p-media {
        display:none;
    }

    #img-media {
        width: 500px;
    }
} */

@media screen and (590px<= width <=890px) {
    #yinka {
        display:none;
    }

    #img-media {
        width: 500px;
    }
}
